:root {
  --dark: #272d38;
  --light: #fff;
  --primary-color: #8eadd5;
  --primary-color-dark: #3f3f3f;
  --gray: #f6f6f6;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--dark);
  text-align: center;
  margin: 0;
  background-image: radial-gradient(
      circle at left top,
      rgb(142 173 213 / 0.7),
      transparent 25em
    ),
    radial-gradient(
      circle at right center,
      rgb(142 173 213 / 0.5),
      transparent 25em
    );
}

.content-wrapper-center {
  padding: 3rem 1rem 2rem;
  max-width: 67.25em;
  margin: auto;
}

.header-menu {
  list-style-type: none;
  padding: 0;
  text-align: right;
  display: none;
}

.header-menu a {
  display: block;
  padding: 2em 0;
}

a {
  color: inherit;
}

nav a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
.hero_title {
  margin-top: 0;
}
.header {
  text-align: left;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--light);
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-color-dark);
}

img {
  max-width: 100%;
}

.brands h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: #667085;
}

.brands ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--gray);
  border-radius: 5px;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.hide {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.testemunho {
  background-color: var(--gray);
  border-radius: 5px;
  padding: 1rem;
  container: testemunho / inline-size;
}

.contato {
  background-color: var(--gray);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 4rem;
}

.contato_image {
  display: none;
}

.footer {
  background-color: var(--gray);
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer a {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.copyright {
  white-space: nowrap;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.contato {
  padding: 4rem 0;
}
.contato_title {
  margin-top: 0;
}
.testemunho_thumb {
  width: 8.125rem;
}
/* .testemunhos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (min-width: 46.5em) {
  .testemunhos_wrapper {
    flex-direction: row;
    DARIA CERTO USAR ASSIM TAMBÉM Q FOI O JEITO QUE EU FIZ NO OUTRO PROJETO MAS DESSA VEZ VOU USAR O CSS GRID
  }
} */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
  grid-auto-flow: dense;
}
.testemunhos_wrapper {
  row-gap: 3rem;
}
.testemunho_card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@container (min-width: 675px) {
  .testemunho_card {
    flex-direction: row;
    text-align: left;
  }
}
.row > .sm-12 {
  grid-column: 1 / -1;
}
@media screen and (min-width: 90em) {
  .row > .lg-4 {
    grid-column: span 4;
  }
  .row > .lg-3 {
    grid-column: span 3;
  }
  .row > .lg-6 {
    grid-column: span 6;
    text-align: left;
  }
  .row > .lg-8-12 {
    grid-column: 8 / 13;
  }
  .row > .lg-1-5 {
    grid-column: 1 / 6;
  }
  .row > .lg-5 {
    grid-column: span 5;
  }
  .row > .lg-7 {
    grid-column: span 7;
  }
  .row > .lg-1-7 {
    grid-column: 1 / 8;
  }
  .row > .lg-1-6 {
    grid-column: 1 / 7;
  }
  .row > .lg-7-12 {
    grid-column: 7 / 13;
  }
  .contato_content {
    text-align: left;
    padding-right: 2rem;
    align-items: center;
  }
  .row {
    gap: 3rem;
  }
  .hero_title {
    text-align: left;
    margin-bottom: 6.25rem;
  }
  .testemunho_card {
    flex-direction: column;
    /* usei direction column pra nao ficar estranho se tiver duvidas tirar esse column e ver no site la pra poder entender melhor */
    /* como agr no final to usando o container eu vou substituir esses itens */
    align-items: center;
  }

  .testemunho_nome {
    margin-left: 5rem;
  }
  .contato_content .btn {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
  }
}
@media screen and (min-width: 46.25em) {
  .row > .md-3 {
    grid-column: span 3;
  }
  .row > .md-4 {
    grid-column: span 4;
  }
  .row > .md-9 {
    grid-column: span 9;
  }
  .row > .md-6 {
    grid-column: span 6;
  }
  .row > .md-7-12 {
    grid-column: 7 / 13;
  }
  .row > .md-1-6 {
    grid-column: 1 / 7;
  }
  .row {
    gap: 3rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-menu a {
    padding: 0;
  }
  .header-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .header-menu li {
    margin-left: 2rem;
  }
  /* body {
    text-align: left;
  } */

  .branding,
  .results {
    text-align: left;
  }
  /* .testemunho {
    display: flex;
    gap: 1rem;
    como eu queria trabalhar com os cards com container eu add uma div amais logo o display flex tem q tar no pai do testemunho que agora é a classe testemunho_card
  } */
  /* .testemunho_card {
    display: flex;
    gap: 1rem;
    como agr no final to usando o container eu vou substituir esses itens
  } */

  .contato_image {
    display: block;
    text-align: center;
  }
  .testemunho_nome {
    text-align: left;
  }
  h1 {
    font-size: 3.625rem;
  }
  h2 {
    font-size: 2.875rem;
  }
}
